@font-face {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

h1 {
  font-family: 'Playfair Display', serif; /* Or a similar elegant font */
  font-size: 3rem;
  color: #333; /* Dark gray */
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #CF3476;
  text-align: center;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #666; /* Light gray */
  text-align: center;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #666; /* Light gray */
  text-align: center;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #aaa; /* Light gray */
  margin-top: 1rem;
}

.sheet__box {
  min-width: 25rem;
  margin-left: calc(20% - 2.5rem);
  margin-right: calc(20% - 2.5rem);
}

.app__title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #333; /* Light gray */
}

.app__tab {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #CF3476; /* Light gray */
}

.to_left {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

.to_right {
  font-family: 'Playfair Display', serif;
  float: right;
}

.contact {
  margin: 20px calc(20% - 40px) 50px;
  min-width: 25rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.contact__title {
  text-align: center;
  font-size: 3rem;
  color: #333; /* Dark gray */
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.contact__button {
  width: 100%;
  color: #ffffff;
  background-color: #CF3476;
}

.article {
  padding: 20px;
  min-width: 40%;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 50px
}

.article__title {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #CF3476; /* Dark gray */
  text-align: left;
  margin-top: 0.1rem;
  font-weight: bold;
}

.article__date {
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
  text-align: left;
}

.article__text {
  font-family: 'Playfair Display', serif; /* Or a similar elegant font */
  font-size: 1rem;
  text-align: left;
  color: #666; /* Dark gray */
}

.article__sign {
  font-family: 'Playfair Display', serif; /* Or a similar elegant font */
  font-size: 1rem;
  float: right;
  color: #333; /* Dark gray */
}

.pricing-box {
  padding: 20px;
  text-align: center;
  min-width: 25rem;
  border-radius: 1rem;
  height: 230px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 50px
}

.pricing-box:not(:last-child) {
  margin: 20px;
}

.pricing__price {
  font-family: 'Playfair Display', serif; /* Or a similar elegant font */
  font-size: 3.5rem;
  color: #CF3476; /* Dark gray */
  text-align: center;
}

.pricing__subtitle {
  font-family: 'Playfair Display', serif; /* Or a similar elegant font */
  font-size: 1rem;
  color: #333; /* Dark gray */
  text-align: center;
}

.advantage {
  min-width: 25rem;
  border-radius: 1rem;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1.2rem;
  margin-left: calc(20% - 2.5rem);
  margin-right: calc(20% - 2.5rem);
}

.advantage__title {
  font-family: 'Playfair Display', serif;
  color: #CF3476;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.1rem;
}

.advantage__text {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #333;
}

.about {
  min-width: 25rem;
  border-radius: 0;
  background: transparent;
}

.about__parallax {
  max-height: 36rem;
}

.about__title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: center;
  color: #ddd; /* Dark gray */
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.about__subtitle {
  font-family: 'Playfair Display', serif;
  color: #CF3476;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.about__text {
  font-family: 'Playfair Display', serif;
  color: #aaa; /* Dark gray */
  font-size: 1.2rem;
  text-align: center;
}